<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		 		<canvas id="sig-canvas" width="620" height="160">
		 			Get a better browser, bro.
		 		</canvas>
		 	</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary" id="sig-submitBtn">Submit</button>
				<button class="btn btn-default" id="sig-clearBtn">Clear</button>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<input id="sig-dataUrl" name="url">
			</div>
		</div>
		<br/>
		
		</div>
	</div>
