<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		 		<canvas id="sig-canvas" width="420" height="120">
		 			Get a better browser, bro.
		 		</canvas>
		 	</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary" id="sig-submitBtn">Submit</button>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input id="sig-dataUrl" name="url">
			</div>
		</div>
		</div>
	</div>
