<div style="text-align:center;" class="signaturez">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
		<div class="row">
			<div style="align-self:center;" class="col-md-12">
		 		<canvas  id="sig-canvas" width="580" height="120">
		 			Get a better browser, bro.
		 		</canvas>
		 	</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="submit" id="sig-submitBtn">MAKE IT</button>
		</div>
		<div class="row">
			<div class="col-md-12">
				<input id="sig-dataUrl" name="url">
			</div>
		</div>
		</div>
		<script src="/script.js"></script>
	</div>
