<h1 class="pageTitle">Change Password</h1>
<form method="POST">
<div class="form">
      <div class="input-container">
        <input name="password" class="input" minlength="4" type="password" placeholder="New Password" />
      </div>
      <div class="input-container">
        <input name="rePassword" class="input" type="password" placeholder="Re Enter Password" />
      </div>
      <button type="text" class="submit">Submit</button>
    </div>
    </form>

{{#if success}}
<div id="alert">Password has been successfully changed</div>
{{/if}}

{{#if doesNotMatch}}
<div id="alert">Passwords are not matched. Type again.</div>
{{/if}}

