<form method="POST">
<div class="form">
      <div class="subtitle">Change Password of {{name}}</div>
      <div class="input-container">
        <input name="password" class="input" type="password" placeholder="New Password" />
      </div>
      <div class="input-container">
        <input name="rePassword" class="input" type="password" placeholder="Re Enter Password" />
      </div>
      <button type="text" class="submit">Submit</button>
    </div>
    </form>

{{#if success}}
<div id="alert">PASSWORD HAS BEEN SUCCESSFULLY CHANGED</div>
{{/if}}

{{#if doesNotMatch}}
<div id="alert">Passwords are not matched. Type again.</div>
{{/if}}

