<form method="POST">
<div class="form">
      <div class="subtitle">Please Fill</div>
      <div class="input-container">
        <input name="city" class="input" type="text" placeholder="City" />
      </div>
      <div class="input-container">
        <input name="age" class="input" type="number" min="18" placeholder="Age" />
      </div>
      <button type="text" class="submit">Submit</button>
      </form>
      <form>
<button type="submit" class="submit" formaction="/petition" id="skip">Skip</button>
      </form>
      
    
  {{!-- <div id="alert"></div> --}}
<script>
  let emptyInputFields = $("input:empty");
  let submitButton=$("#submit");
  let alert = $("#alert");
  submitButton.mousedown(function(){
    if(emptyInputFields.length > 0){
      alert.text("Please do not leave empty fields")
    };
  })
</script>