<form method="POST">
<div class="form">
      <div class="subtitle">Please Fill</div>
      <div class="input-container ic1">
        <input name="city" class="input" type="city" placeholder="City" defaultValue="" />
        <input name="age" class="input" type="number" placeholder="Age" defaultValue=0 />
      </div>
      <button type="text" class="submit">Submit</button>
      <button type="text" class="submit">Skip</button>
    </div>
    </form>