<h1 class="pageTitle">Delete Profile</h1>
<form method="POST">
<h3>to destroy all of information of {{name}}.
</h3>
<button type="submit" onclick="return confirm('Are you sure?')" class="submit">Delete</button>
</form>


{{#if success}}
<div id="alert">USER HAS BEEN SUCCESFULLY DELETED.</div>
{{/if}}

