{{#unless logged}}
<form method="POST">
  <input type="text" placeholder="First Name" id="fname" name="fname"><br>
 
  <input type="text" id="lname" placeholder="Last Name" name="lname"><br>

  <input type="email" id="email" placeholder="E-Mail" name="email"><br>

  <input type="password" id="password" placeholder="password" name="password"><br>

  <input type="password" id="repassword" placeholder="re password" name="repassword"><br><br>
  <button class="btn" id="btn">Register</button>
 </form>
 {{/unless}}
  {{#if showPasswordError}}
  <h3 id="error">Err:you should enter same passwords</h3>
  {{/if}}
  {{#if showBlankError}}
  <h3 id="error">Err:you should write your name or last name</h3>
  {{/if}}
{{#if showDbError}}
  <h3 id="dberror">Err:database error</h3>
{{/if}}

