  <form method="POST">
  <input type="email" id="email" placeholder="E-Mail" name="email"><br>
  <input type="password" id="password" placeholder="Password" name="password"><br><br>	
  <button class="btn" id="btn">Submit</button>
  </form>
{{#if logAgain}}
  <h3 id="error">Please log in again</h3>
  {{/if}}
  {{#if showBlankError}}
  <h3 id="error">Err:dont leave blank</h3>
  {{/if}}

  {{#if doesNotMatch}}
    <h3 id="error">Err:password or email does not match</h3>
{{/if}}