<form method="POST">
<div class="form">
      <div class="subtitle">Please Login</div>
      <div class="input-container ic1">
        <input name="email" class="input" type="email" placeholder="Email" />
      </div>
      <div class="input-container ic1">
        <input name="password" class="input" type="password" placeholder="Password" />
      </div>
      <button type="text" class="submit">Login</button>
    </div>
    </form>
{{#if logAgain}}
  <h3 id="error">Please log in again</h3>
  {{/if}}
  {{#if showBlankError}}
  <h3 id="error">Err:dont leave blank</h3>
  {{/if}}

  {{#if doesNotMatch}}
    <h3 id="error">Err:password or email does not match</h3>
{{/if}}