<h3>Thanks for register<br> Your password has been sent to your {{email}}<br></h3>
<h3 style="color:firebrick;">Please wait while redirecting to login page.</h3>


<script>
    setTimeout(function(){
        window.location.href = '/login';
     }, 5000);
</script>