<h3>Do you want to get beer on not only friday but also every day??</h3>
<h4>Please sign them below and be part of our Petition</h4>
<h3>WE ALL GONNA MAKE IT !!!</h3>

 <form method="POST">
 {{>signature}}
 </form>
