<img src="./beer.jpg" width="350px" height="300px">
<h1>Not only FRIDAY but also EVERYDAY</h1>
<form method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  {{>signature}}
 </form>
  {{#if showError}}
  <h1 id="error">you should write your name or last name</h1>
  {{/if}}
{{#if showDbError}}
  <h1 id="dberror">Database error</h1>
{{/if}}
<a id="list" href="/list">List of All Signatures↕</a>