<h1 class="pageTitle">Let's Make a Difference</h1>
<h3>Do you want to get beer on not only friday but also every day??</h3>
<h4>Please sign them below and be a part of our Petition</h4>
<h3 style="color:firebrick;">WE ARE ALL GONNA MAKE IT !!!</h3>

 <form  method="POST">
 {{>signature}}
 </form>
