<form class="form" method="POST">
  <div class="subtitle">Please let me know ,<br> Who are you?</div>
  
  <div class="input-container ic1">
  <input type="email" placeholder="E-Mail" id="email" class="input" name="email"><br>
  <input type="text" placeholder="First Name" id="fname" class="input" name="fname">
  <input type="text" placeholder="Last Name" id="lname" class="input" name="lname">
  <button class="submit" id="btn">Register</button>
   </div>
 </form>
<div id="registerLogin">Hey!Are you a member?<a style="text-decoration: none;" href="/login">Log in</a></div>

{{#if showDbError}}
  <h3 id="dbError">Err: email is already in use</h3>
{{/if}}

