<h1>Thanks for your submit. Have a cold beer!!!</h1>
<div class="person">
<div class="name">First Name:</div>{{fname}}
<div class="name">Last Name:</div>{{lname}}
<div class="signature">Signature:</div>
<img src="{{signature}}">

</div>
<a id="list" href="/list">List of Signatures↕</a>
<a class="name" href="/">Home</a>