@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);

body {
    background: #d4d4d4;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}

.clear {
    clear: both;
}

.wrapper {
    width: 620px;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 3px #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.top {
    min-height: 100px;
    background: #FDB913;
    border-radius: 10px 10px 0 0;
    position:relative;

}

.giphy{
    position:absolute;
}

.top h1{
    position:absolute;
    top:8px;
    left:180px;
    font-size:40px;
    color: #ed6b16;
    text-shadow: 2px 2px #dc311e
}

.top h2{
    position:absolute;
    top:55px;
    left:280px
}

.footer {
    min-height: 485px;
    padding: 20px;
    background: #e4e4e4;
    border-radius: 0 0 10px 10px;
}

.pageTitle {
    font-size: 24px;
    line-height: 40px;
    color: #000;
    margin-top: -5px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(105, 105, 105);
    border-top: solid 3px #fff;
    border-bottom: solid 3px #fff;

    /*
  box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
  */
}

.navigation li {
    float: left;
}

.navigation li:hover {
    background: #222;

}

.navigation li:first-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 0 0 5px;
    
}

.navigation li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
}

.navigation ul {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: -3px;
    padding: 0;
    overflow: hidden;
    z-index: 10;
}

.navigation ul li {
    float: none;
    z-index: 10;
}

.navigation li:hover > ul {
    display: block;
    background: #222;
    border: solid 3px #fff;
    border-top: 0;

    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.navigation li:hover > ul li:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 10;
}

.navigation li li a:hover {
    background: #000;
    z-index: 10;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    z-index: 10;
}

#sig-canvas {
    display: flex;
    border: 2px dotted #cccccc;
    border-radius: 15px;
    cursor: crosshair;
}

#sig-dataUrl {
    display: none;
}

.form {
    position: relative;
    /* border-radius: 20px; */
    /* border: solid black 2px; */
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    width: 320px;
}

.subtitle {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.input-container {
    height: 35px;
    position: relative;
    width: 100%;
    margin-bottom: 3px;
}

.input {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #e4e4e4;
    font-size: 17px;
    height: 100%;
    outline: 0;
    margin-top: 3px;
    padding: 4px 20px 0;
    width: 100%;
}

.placeholder {
    color: #65657b;
    left: 20px;
    line-height: 10px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.submit {
    background-color:#fcd87e;
    border-radius: 5px;
    border: 0.5;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    outline: 0;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: rgb(236, 236, 236)
}

#delete{
    position:relative;
    z-index: 10;
    font-size: 15px;
    bottom: -250px;
}

.list{
    list-style: none;
}

#success{
    position:relative;
    margin-top: 400px;
    font-style: oblique;
    color: firebrick;
}

#alert {
    position: absolute;
    font-style: oblique;
    color: firebrick;
    max-height: 5px;
    top:210px;
}

#skip{
    color: #666;
    background-color:#d4d4d4
}

#error{
    color: firebrick;
    font-style: oblique;
}

.cityList{
    text-decoration: none;
}

.cityList:hover{
    text-decoration:underline
}