* {
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: peru;
}
#sig-canvas {
    border: 2px dotted #cccccc;
    border-radius: 15px;
    cursor: crosshair;
}

#sig-dataUrl {
    display: none;
}

#error {
    color: red;
}

#list {
    text-decoration: solid;
    font-size: large;
    color: darkorange;
}

.person {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

img {
    object-fit: contain;
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
}

.name {
    font-size: large;
    color: red;
    margin: 15px;
}

.signature {
    font-size: large;
    color: goldenrod;
    margin: 15px;
}
